<h1>Welcome to Bustle Index</h1>


<ul>
  {{#each model as |story|}}
  <li>{{story.author}} {{story.headline}}</li>
  {{/each}}
</ul>
<h3>{{#link-to 'contact'}}Contact{{/link-to}}</h3>
<h3>{{#link-to 'about'}}About{{/link-to}}</h3>
