<h1>Welcome to Bustle Index</h1>


<ul>
  {{#each model as |story|}}
    {{story-tile story=story destroyStory="destroyStory"}}
  {{/each}}
</ul>

{{new-story save2="save3"}}

<h3>{{#link-to 'contact'}}Contact{{/link-to}}</h3>
<h3>{{#link-to 'about'}}About{{/link-to}}</h3>
